# IOTA Network (testnet | mainnet)
VITE_IOTA_NETWORK=testnet

VITE_LEGAL_NAME=Max Mustermann
VITE_LEGAL_ADDRESS=Musterstrasse 1, 12345 Musterstadt
VITE_LEGAL_EMAIL=max@example.com
VITE_LEGAL_PHONE=+49 123 456789
